Django==4.2.16
pymongo==4.5.0
python-ldap==3.4.3
graphene-django==3.0.0
graphene==3.0.0
gunicorn==21.2.0
requests==2.31.0
dnspython==2.4.2
lxml==4.9.3
Jinja2==3.1.2
psycopg2-binary==2.9.9
python-decouple==3.8
